.carrousel {
    height: 415px;
     width: 100%;
     overflow: hidden;
     border-radius: 25px;
     position: relative;
    }
    
    .slides {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      }
    
    .carrousel-img {
      width: 1240px;
      height: 415px;
      object-fit: cover;
    }
    
    .carrousel-arrows {
      cursor: pointer;
      z-index: 1;
      position: absolute;
      top: 36%;
    }
    
    .carrousel-left {
      left: 1.5rem;
    }
    
    .carrousel-right {
      left: 94%;
    }

/* Mobile */
@media (max-width: 705px) {
  .carrousel-arrows {
    top: 48%;
  }

  .carrousel-right {
    left: 25%;
  }
  .carrousel-arrows img {
    height: 19px;
  }
}