.dropdown {
    max-width: 582px;
}

.dropdown__header {
    background-color: #FF6060;
    color: white;
    height: 52px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 18px;
}

.dropdown__trigger {
    cursor: pointer;
}

.dropdown__content {
    background-color: #f6f6f6;
    padding: 30px 20px;
}

.type--Description {

}