.header__logo {
    width: 150px;
}

#wrapper-header {
    margin-top: 40px;
}

.active {
    border-bottom: solid red;
}

.header__nav {
    display: flex;
    height: 30px;
}


/* Desktop only */
@media (min-width: 1415px) {
    .header__nav {
        width: 320px;
    justify-content: space-between;
    }
}

/* Mobile only */
@media (max-width: 705px) {
    .header__nav {
        width: 50%;
        font-size: 12px;
        justify-content: space-evenly;

    }
}