.tag {
    background-color: #FF6060;
    height: 25px;
    padding: 0 0.25rem;
    min-width: 115px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}