.about__dropdowns > .dropdown {
    max-width: 1023px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.banner__img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 25px;
    filter: brightness(50%);
}

.dropdown {
    width: 1023px;
}

/* Desktop */
@media (min-width: 705px) {

}

/* Mobile */
@media (max-width: 705px) {
    .about__dropdowns > .dropdown {
        min-width: 100%;
    }
    .banner__img {
        object-fit: cover;
        width: 100%;
        height: 255px;
    }
}