.main-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F6F6;
    border-radius: 20px;
    > a {
        margin: 30px;
    }
}

.banner {
    text-align: center;
    margin: 60px 0 43px 0;
    position: relative;
    width: 100%;
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 48px;
    }
    > img {
        max-height: 223px;
        min-width: 0;
        object-fit: cover;
        border-radius: 25px;
            filter: brightness(50%);
    }
}

/* Mobile */
@media (max-width: 705px) {
    .banner {
        height: 111px;
        > img {
            height: 111px;
        }
        &__text {
            font-size: 24px;
        }
    }
}

