.lodging-host-name {
  margin-right: 1rem;
}

.pp {
  width: 64px;
  border-radius: 50%;
}

.lodging-title {
  font-size: 36px;
}

.lodging-location {
  font-size: 18px;
  margin-bottom: 20px;
}

.details > div {
  width: 50%;
}

/* CARROUSEL */

.carrousel {
height: 415px;
 width: 100%;
 overflow: hidden;
 border-radius: 25px;
 position: relative;
}

.slides {
  // width: calc(1250px*3); => js 100%*imgs.lengths
  width: 500%;
  display: flex;
  animation: slide 10s infinite;
  position: absolute;
  top: 0;
  left: 0;
  }

.carrousel-img {
  height: auto;
  object-fit: cover;
}

.carrousel-arrows {
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 1;
  position: absolute;
  top: 50%; 
}

.carrousel-left {
  left: 0;
}

.carrousel-right {
  right: 0;
}

  @keyframes slide {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
  }