.lodging-host-name {
  margin-right: 1rem;
}

.pp {
  width: 64px;
  border-radius: 50%;
}

.lodging-title {
  font-size: 36px;
}

.lodging-location {
  font-size: 18px;
  margin-bottom: 20px;
}

.details > div {
  width: 50%;
}

/* CARROUSEL */

.carrousel {
  height: 415px;
 width: 1240px;
 overflow: hidden;
 border-radius: 25px;
}

.slides {
  width: calc(1250px*3);
  animation: slide 10s infinite;
  }

.slide {
  float:left;
} 

.carrousel-img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

  @keyframes slide {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-1250px);
    }
    66% {
        transform: translateX(-2500px);
    }
    100% {
        transform: translateX(0px);
    }
  }