.lodging-host-name {
  margin-right: 1rem;
}

.pp {
  width: 64px;
  border-radius: 50%;
}

.lodging-dropdowns {
  justify-content: space-between;
  margin-top: 1.5rem;
}

.lodging-title {
  font-size: 36px;
}

.lodging-location {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Desktop */
@media (min-width: 706px) {
  .lodging-details {
    display: flex;
    justify-content: space-between;
  }
  .lodging-infos{
    flex-direction: column;
  }
}


/* Mobile */
@media (max-width: 705px) {

    .dropdown--lodging {
      width: 582px;
  }

  .lodging-dropdowns {
    flex-direction: column;
    & > div {
      margin-bottom: 20px;
    }
  }

    .lodging-details {
      flex-direction: column;
    }

    .lodging-infos{
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .stars-wrapper {
      align-items: center;
    }

    .logo-star{
      height: 15px;
    }
}
