.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}
