.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

// Text
.text-center {
    text-align: center;
}

// Spacing
.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}