

/* Desktop */
@media (min-width: 705px) {
    .wrapper {
        max-width: 1240px;
        margin-right: auto;
        margin-left: auto;
    }
    .app {
        max-width: 1240px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Mobile */
@media (max-width: 705px) {
    .wrapper {
        margin: 0 20px;
    }
}