body {
    font-family: 'Montserrat', sans-serif;
    color: $color-primary;
}

.header__nav {
    font-size: 24px;
    > a {
        color: $color-primary;
        text-decoration: none;
        &:hover {
            color: #D3573C;
        }
    }
}

/* Mobile */
@media (max-width: 705px) {

}